.not-found-main-container {
    background: url("../../assets/images/page_introuvable.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
}