<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" routerLink="">Les Rois de France</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      &#9884;
  </button>

  <div class="collapse navbar-collapse navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">lien ts rois</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">lien</a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/a-propos">À propos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Livre d'or</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/page-introuvable">Introuvable</a>
      </li>
    </ul>
  </div>
</nav>
