@import '../../../../../../variables.scss';

a.character-card {
    position: relative;
    text-decoration: none;
    color: #343a40;
    &:hover .card {
        border-color: #343a40;
    }
    .character-card-prestige {
        color: gold;
        position: absolute;
        top: 0;
        right: 5px;
        .prestige-tooltip {
            display: none;
        }
        &:hover .prestige-tooltip {
            display: block;
            position: absolute;
            color: white;
            background: #343a40;
            padding: 3px;
            border-radius: 3px;
        }
    }
    .card-body {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: white;
        background: rgba(0,0,0,0.5);
        padding: 5px;
        p {
            margin: 0;
        }
    }
}