@import 'variables.scss';

/*Global*/
html, body {
    height : 100%
}

body {
    // background: url("assets/images/background.gif");
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background: radial-gradient($blue-1, $blue-2);
}

/*Custom la jauge (composant externe)*/
.ng5-slider-bar {
    height: 32px !important;
    // border-radius: 20px !important;
}
.ng5-slider-pointer {
    top: 0 !important;
    // &::after {
    //     content: "⚜" !important;
    // }
}
