.search-input { 
    position: relative;
    input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block; width: 100%;
        border: none;
        border-bottom: 1px solid #757575;
        &:focus {
            outline: none;
        }
    }
    label {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    .search-icon{
        color: #CCC;
        position: absolute;
        top: 5px;
        right: 5px;
    }
    /* active state */
    input:focus ~ label, input:valid ~ label {
        top:-20px;
        font-size:14px;
        color:#5264AE;
    }
    input:focus ~ .search-icon, input:valid ~ .search-icon{
        color:#5264AE;
    }
    .search-bar { position: relative; display: block; width: 100%; }
    .search-bar:before, .search-bar:after { content: ''; height: 3px; width: 0; bottom: 0; position: absolute; background: #5264AE; transition: 0.2s ease all; -moz-transition: 0.2s ease all; -webkit-transition: 0.2s ease all; }
    .search-bar:before { left: 50%; }
    .search-bar:after { right: 50%; }

    input:focus ~ .search-bar:before, input:focus ~ .search-bar:after { width: 50%; }

}
