<div class="home-main-container pt-3 text-center">
  <h1>Recherche</h1>
  <h2>par</h2>
  <div class="container">
    <div class="row justify-content-md-center">
        <div class="search-mode col-6 col-md-2">
          <a routerLink="/recherche">
              <i class="fa fa-3x fa-lg fa-pencil"></i>
              <br>
              Nom
          </a>
        </div>
        <div class="search-mode col-6 col-md-2">
            <a routerLink="/periode">
              <i class="fa fa-3x fa-lg fa-calendar"></i>
              <br>
              Date
            </a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-6 col-md-2">
            <div class="separation" role="separator"></div>
        </div>
        <div class="col-6 col-md-2">
            <div class="separation" role="separator"></div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="search-mode col-6 col-md-2">
            <a routerLink="/periode">
              <i class="fa fa-3x fa-lg fa-hourglass-half"></i>
              <br>
              Période
            </a>
        </div>
        <div class="search-mode col-6 col-md-2">
            <a routerLink="/periode">
              <i class="fa fa-3x fa-lg fa-fort-awesome"></i>
              <br>
              Dynastie
            </a>
        </div>
    </div>
  </div>
  <button type="button" class="btn btn-secondary">Afficher tous les Rois</button>
</div>
  