@import '../../variables.scss';

.home-main-container {
    margin: 2rem 0;
    .row {
        margin-bottom: 1rem;
        margin-top: 1rem;
        .search-mode:first-child {
            border-right: 2px solid grey;
        }
    }
    .separation {
        height: 2px;
        background: grey;
    }
}
